body {
    background-color:white;
}
.sidebar {
    height: 100vh;
    background-color: #343a40;
    padding: 20px;
    position: fixed;
}
.sidebar a {
    color: white;
    text-decoration: none;
}
.sidebar a:hover {
    background-color: #495057;
    padding: 10px;
    border-radius: 5px;
}
.content {
    margin-left: 20px;
    padding: 10px;
}

.modal-content {
    border-radius: 5px;
    border: black;
}
.modal-header {
    border-bottom: none;
    text-align: center;
}
.modal-title {
    font-weight: bold;
    color: #007bff;
}
.modal-body {
    padding: 2rem;
}
.form-control {
    border-radius: 5px;
}
.btn-primary {
    background-color: #007bff;
    border: none;
}
.btn-primary:hover {
    background-color: #0056b3;
}
.navbar-nav .nav-link {
    transition: all 0.3s ease;
  }

.navbar-nav .nav-link:hover {
    font-weight: bold;
    font-size: 1.2em;
}

.container-man_inf{
    height: 150px;
    width: 100%;
}

.container-area{
    height: 200px;
    width: 100%;
}

.container-description{
    height: 250px;
    width: 100%;
}