.form-register{
    margin: auto;
}


.input-group{
    margin: auto;
}

.formulario{
    margin: auto; 
}

.crear_cuenta{
    color: dimgray;
    text-decoration: none;
}

.crear_cuenta:hover{
    color: #007bff;
    text-decoration: none;
}
.error{
    text-align: center;
}