{% extends 'home.html' %}

{% block content %}

<div class="container" style="padding: 20px;">
  <div class="card">
      <div class="card-header">
          <h5 class="card-title">
            <i class="fa-solid fa-screwdriver-wrench"></i>
          Activos
          </h5>
      </div>
      <div class="card-body">
          <table class="table" id="table_employed">
              <thead>
                <tr>
                  <th scope="col">Codigo</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Area</th>
                  <th scope="col">Categoria</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Opciones</th>
                </tr>
              </thead>
              <tbody>
                  {% for a in activos %}
                  <tr>
                      <td>{{a.codigoActivo}}</td>
                      <td>{{a.nombreActivo}}</td>
                      <td>{{a.areaActivo}}</td>
                      <td>{{a.categoriaActivo}}</td>
                      <td>{{a.estadoActivo}}</td>
                      <td>
                          <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                              <div style="padding-right: 10px;">
                                   <a href="" style="border: 2px;" class="text-info"><i class="fa-solid fa-pen-to-square"></i></a>
                              </div>
                                 
                              <div>
                                  <a href="" class="text-danger"><i class="fa-solid fa-trash-can"></i></a>
                              </div>
                                  
                          
                          </div>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>        
      </div>
      <form action="{% url 'activos:crearActivo' %}">
          <div class="card-footer">
              <button type="submit" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Registrar Activo</button>
          </div>
      </form>
      

  </div>
</div>



{% endblock %}