{% extends 'home.html' %}

{% block content %}

<div class="card">
    <div class="card-body">
        <nav class="navbar ">
            <span class="navbar-brand mb-0 h1 position-absolute  start-50">Activos</span>
        </nav>
    </div>
    
    <div class="container mt-1">
        <table class="table table-borderless table-hover table-striped">
            <thead>
              <tr>
                <th scope="col">Id Activo</th>
                <th scope="col">Area</th>
                <th scope="col">Tipo</th>
                <th scope="col">Estado</th>
                <th scope="col">Detalles</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">4</td>
                <td>CentroD</td>
                <td>CentroD</td>
                <td>CentroD</td>
                <td><button type="button" class="btn btn-primary position-relativ" >Detalles</button></td>
              </tr>
            </tbody>
          </table>
    </div> 
</div>

{% endblock %}