{% extends 'home.html' %}

{% block content %}
<div class="content">
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1"> Bienvenido </span>
    </nav>
        <p>Aquí puedes gestionar tu proceso de mantenimiento.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-header">Tareas Pendientes</div>
                    <div class="card-body">
                        <h5 class="card-title"> 0 Tareas</h5>
                        <p class="card-text">Ver detalles de las tareas pendientes.</p>
                        <a href="#" class="btn btn-light">Ver Tareas</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header">Tareas Completadas</div>
                    <div class="card-body">
                        <h5 class="card-title">0 Tareas</h5>
                        <p class="card-text">Consulta las tareas que se han completado.</p>
                        <a href="#" class="btn btn-light">Ver Tareas</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-warning mb-3">
                    <div class="card-header">Informes</div>
                    <div class="card-body">
                        <h5 class="card-title">Últimos Informes</h5>
                        <p class="card-text">Accede a los informes generados.</p>
                        <a href="#" class="btn btn-light">Ver Informes</a>
                    </div>
                </div>
            </div>
        </div>
        
        
</div>
{% endblock %}